.member-list-text {
  color: brown;
}

.member-list-title {
  color: yellow;
}

.scrollbox {
  background-color: white;
  width: 500px;
  height: 500px;
  overflow: scroll;
  border: 2px solid black;
}
